.back {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.back a {
    text-decoration: none;
}

.licenses {
    display: block;
    margin-top: 60px;
}

::ng-deep mat-accordion,
 ::ng-deep .mat-expansion-panel {
    border-radius: 0 !important;
    background-color: #2A2E35;
}