.maindiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block {
    display: block;
}

.legal {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.legal a {
    text-align: center;
    text-decoration: none;
}