<div class="text-center font-grey">
    <h1>Impressum</h1>
    <h4>Angaben gemäß § 5 TMG</h4>
    <br>
    <div>
        <p>Til Hempel</p>
        <p>Cotta B</p>
        <p>15 h</p>
        <p>01796 Dohma OT Cotta</p>
    </div>
    <br>
    <h4>Kontakt</h4>
    <div>
        <p>Telefon: +49 (0) 1523 1939616</p>
        <p>E-Mail: til.hempel@gmail.com</p>
    </div>
</div>
<div class="back">
    <a class="font-grey" (click)="back()">
        <fa-icon [icon]="faArrowLeft"></fa-icon> Zurück
    </a>
</div>